/* rgb value*/
#first_li {
    color: rgb(165, 42, 42);
}

/* hex  value*/
.second_li {
    color: #4d1;
}

/* rgba  value*/
.third_li {
    color: rgba(13, 21, 190, .5);
}

/* li's inherited from ul*/
ul {
    color: orange;
}

/* child <i> tag inherited from .parent */
.parent {
    color: red;
}

/* group */
.par_1, 
.par_2 {
    font-size: 2rem;
}

